AddDefaultCharset utf-8
DirectoryIndex index.php

RewriteEngine On

# имя файла, используемое для ведения журнала преобразования URL;
# если имя не начинается с «/», путь считается от Server Root
# RewriteLog "rewrite.log.txt"
# устанавливает уровень детализации журнала преобразований URL,
# от 0 до 9; уровень 0 означает, что журнализация не ведется
# RewriteLogLevel 3

#
# 301 редирект с www.server.com/some/path/ на www.server.com/some/path
#
# под это условие попадают и запросы типа server.com/some/path/, т.е.
# если сработал этот редирект, то server.com => www.server.com уже не
# сработает, так что в итоге будет только один редирект
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ http://www.host2.ru/$1 [R=301,L]

#
# 301 редирект с www.server.com/some/path на www.server.com/some/path/
#
# под это условие попадают и запросы типа server.com/some/path, т.е.
# если сработал этот редирект, то server.com => www.server.com уже не
# сработает, так что в итоге будет только один редирект
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} !(.+)/$
# RewriteRule ^(.*[^/])$ http://www.host2.ru/$1/ [L,R=301]

#
# 301 редирект с server.com на www.server.com
#
RewriteCond %{HTTP_HOST} ^host2.ru
RewriteRule (.*) http://www.host2.ru/$1 [R=301,L]

#
# 301 редирект с www.server.com на server.com
#
# ПРОВЕРИТЬ, ВОЗМОЖНО, НЕ РАБОТАЕТ
# RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#
# 301 редирект с /index.php на корень сайта «/»
#
# проверяем соответствие «GET /index.php HTTP/1.1»
# {3,9} — потому что GET, POST, PUT, DELETE, …
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php.*\ HTTP/
# RewriteRule ^index\.php$ / [R=301,L]

#
# 301 редирект с /index.php на корень сайта «/»
#
# проверяем соответствие «GET /index.php?a=b HTTP/1.1»; «{3,9}» — потому
# что GET, POST, PUT, DELETE, …; «?a=b» — могут быть, могут не быть
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php.*\ HTTP/
RewriteRule ^(.*)index\.php$ http://www.host2.ru [R=301,L]

#
# одна точка входа, все запросы (кроме файлов и директорий) на /index.php
#
# строка ниже нужна, потому что многие браузере вместе с HTTP-запросом
# отправляют ещё один фоновый запрос — на получение favicon.ico; если
# данный файл отсутствует, провоцируется новый вызов скрипта index.php
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php

# разрешаем междусайтовое использование шрифтов (нужно при использовании CDN);
# по умолчанию браузеры не скачивают шрифты с других сайтов, чтобы предотвратить
# их свободное и бесплатное использование; https://www.w3.org/TR/access-control/
# необходимо подключить модуль headers, т.е. расскомментировать в httpd.conf
# LoadModule headers_module modules/mod_headers.so
<FilesMatch "\.(ttf|otf|eot|woff|woff2|svg)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

# сжатие html, css, js, xml и т.п. с помощью модуля deflate; необходимо
# раскомментировать в файле конфигурации httpd.conf следующие строки
# LoadModule deflate_module modules/mod_deflate.so
# LoadModule filter_module modules/mod_filter.so
<IfModule mod_deflate.c>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript # устарело
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    # сжатие шрифтов, woff и woff2 уже сжаты
    <FilesMatch "\.(ttf|otf|eot|svg)$">
      SetOutputFilter DEFLATE
    </FilesMatch>
  </ifModule>
</ifModule>
