php_flag magic_quotes_gpc Off

AddDefaultCharset utf-8
DirectoryIndex index.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php

RewriteCond %{HTTP_HOST} ^host2.ru
RewriteRule (.*) http://www.host2.ru/$1 [R=301,L]