/* список всех категорий */
#all-categories {
    overflow: hidden;
}
    #all-categories > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #all-categories > ul > li {
            overflow: hidden;
            padding: 4px 0;
            border-bottom: 1px solid #eee;
        }
            #all-categories > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #all-categories > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #all-categories > ul > li > div:last-child > a {
                    margin-left: 10px;
                }

/* список всех статей (или всех статей категории) */
#all-articles {
    overflow: hidden;
}
    #all-articles > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #all-articles > ul > li {
            overflow: hidden;
            padding: 4px 0;
            border-bottom: 1px solid #eee;
        }
            #all-articles > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #all-articles > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #all-articles > ul > li > div:last-child > a {
                    margin-left: 10px;
                }

/* форма для добавления/редактирования статьи */
#add-edit-article {
    overflow: hidden;
}
    #add-edit-article > div {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fafafa;
        padding: 5px;
    }
        #add-edit-article > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-article > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-article > div > div:last-child > input[type="text"],
            #add-edit-article > div > div:last-child > textarea,
            #add-edit-article > div > div:last-child > select {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
                #add-edit-article > div > div:last-child > input[name="date"],
                #add-edit-article > div > div:last-child > input[name="time"] {
                    width: 80px;
                }
            #add-edit-article > div > div:last-child > textarea {
                height: 300px;
            }
                #add-edit-article > div > div:last-child > textarea[name="excerpt"] {
                    height: 150px;
                }
        #add-edit-article > #new-files > div,
        #add-edit-article > #old-files > div {
            float: none;
            width: 100%;
        }
        #add-edit-article > #new-files > div:first-child,
        #add-edit-article > #old-files > div:first-child {
            margin-bottom: 5px;
        }
            #add-edit-article > #new-files > div:last-child > div,
            #add-edit-article > #old-files > div:last-child > div {
                overflow: hidden;
                margin-bottom: 5px;
            }
                  #add-edit-article > #new-files > div:last-child > div > span,
                  #add-edit-article > #old-files > div:last-child > div > span {
                    text-decoration: underline;
                    cursor: pointer;
                }
                  #add-edit-article > #new-files > div:last-child > div > *,
                  #add-edit-article > #old-files > div:last-child > div > *{
                    display: block;
                    float: left;
                    margin: 0 10px;
                }
                  #add-edit-article > #new-files > div:last-child > div > input,
                  #add-edit-article > #old-files > div:last-child > div > a {
                    width: 50%;
                }
                  #add-edit-article > #old-files > div:last-child > div > input {
                    margin-top: 2px;
                }

/* форма для добавления/редактирования категории */
#add-edit-category {
    overflow: hidden;
}
    #add-edit-category > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-category > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-category > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-category > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }

/* ссылка на страницу с формой для добавления статьи */
#add-item-all-ctgs {
    overflow: hidden;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}
    #add-item-all-ctgs > li:first-child {
        float: left;
        width: 50%;
    }
    #add-item-all-ctgs > li:last-child {
        text-align: right;
    }