/* форма для добавления/редактирования бренда */
#add-edit-brand {
    overflow: hidden;
}
    #add-edit-brand > div {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fafafa;
        padding: 5px;
    }
    #add-edit-brand > div > div:first-child {
        float: left;
        width: 30%;
        margin-top: 5px;
    }
    #add-edit-brand > div > div:last-child {
        float: left;
        width: 70%;
    }
        #add-edit-brand > div > div:last-child > input[type="text"] {
            width: 100%;
            box-sizing: border-box;
            padding: 3px;
        }
        #add-edit-brand > div > div:last-child > select {
            padding: 3px;
            width: 35%;
            margin-right: 5%;
        }
        #add-edit-brand > div > div:last-child > input[type="checkbox"] {
            position: relative;
            top: 2px;
        }

/* список всех брендов */
#all-brands {
    overflow: hidden;
}
    #all-brands > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 45%;
        float: left;
    }
    #all-brands > ul:first-child {
        margin-right: 5%;
    }
    #all-brands > ul:last-child {
        margin-left: 5%;
    }
    #all-brands > ul:only-child {
        margin: 0;
        width: 100%;
        float: none;
    }
        #all-brands > ul > li {
            overflow: hidden;
        }
            #all-brands > ul > li > ul {
                list-style: none;
                margin: 0 !important;
                padding: 0;
            }
            #all-brands > ul > li > div {
                font-size: 16px;
                font-weight: bold;
                color: #395985;
                margin-top: 10px;
            }
            #all-brands > ul > li > ul > li {
                overflow: hidden;
                padding: 4px 0;
                border-bottom: 1px solid #eee;
            }
                #all-brands > ul > li > ul > li > div:first-child {
                    float: left;
                    width: 70%;
                }
                #all-brands > ul > li > ul > li > div:last-child {
                    float: right;
                    width: 30%;
                    text-align: right;
                }
                    #all-brands > ul > li > ul > li > div:last-child > a {
                        margin-left: 10px;
                    }
                    
/* список популярных брендов */
#popular {
    overflow: hidden;
    margin-bottom: 10px;
}
    #popular > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #popular > ul > li {
            overflow: hidden;
            padding: 4px 0;
            border-bottom: 1px solid #eee;
        }
            #popular > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #popular > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #popular > ul > li > div:last-child > a {
                    margin-left: 10px;
                }
