html {
    position:relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font: 14px Arial, sans-serif;
    color: #323232;
    overflow-y: scroll;
    height: 100%;
}

a {
    color: #5390cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*
 * КАРКАС
 */
.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}
body > .wrapper {
    overflow: hidden;
    padding-bottom: 60px;
}
#header {
    height: 80px;
    background: #395985;
}
#main-menu {
    background: #323232;
}
#wrap {
    width: 100%;
    float: left;
}
#content {
    margin: 0 250px 0 250px;
    padding: 20px;
    overflow: hidden;
}
#left {
    width: 250px;
    float: left;
    margin-left: -100%;
}
#right {
    width: 250px;
    float: left;
    margin-left: -250px;
}
#footer {
    width: 100%;
    height: 60px;
    background: #2f3133;
    position: absolute;
    bottom: 0;
}
/* скрыть левую и правую колонки */
#left, #right {
    display: none;
}
#content {
    margin: 0;
    padding: 20px 0;
}

#menu {

}
    #menu > ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background: #323232;
        overflow: hidden;
    }
    #menu > ul > li {
        float: left;
        width: 11.11111%;
    }
        #menu > ul > li > a {
            display: block;
            white-space: nowrap;
            text-decoration: none;
            border-right: 1px solid #4f5254;
            border-bottom: 1px solid #4f5254;
            color: #fff;
            padding: 5px 10px;
        }
        #menu > ul > li:first-child > a, #menu > ul > li:nth-child(10) > a {
            border-left: 1px solid #4f5254;
        }
        #menu > ul > li > a:hover {
            background: #5390cc;
        }

.content h1 {
    margin-bottom: 20px;
    font-size: 22px;
}
.content h2 {
    margin: 20px 0 15px 0;
    font-size: 18px;
    font-weight: normal;
    color: #395985;
}
.content h3 {
    margin: 20px 0 15px 0;
    font-size: 16px;
    font-weight: normal;
    color: #395985;
}
.content p {
    margin: 15px 0;
}
.content ul, .content ol {
    margin: 15px 0 15px 20px;
}
    .content ul > li > ul, .content ol > li > ol, .content ol > li > ul, .content ul > li > ol {
        margin: 5px 0 5px 20px;
    }

/* хлебные крошки */
.content #breadcrumbs {
    border: 1px solid #d1d1d1;
    border-top: 5px solid #395985;
    overflow: hidden;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
}

/* формы */
form input[type="text"], select, textarea {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #d1d1d1;
}
form input[type="submit"] {
    padding: 5px 25px;
    border: 1px solid #395985;
    background: #395985;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

/* сообщение об ошибке */
.error-message {
    border: 1px solid #e9751f;
    border-top: 5px solid #e9751f;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 20px;
}
    .error-message > ul {
        margin-left: 20px;
        color: #e9751f;
    }

/* постраничная навигация */
.pager {
    overflow: hidden;
    margin: 20px 0 !important;
    padding: 0;
}
    .pager li {
        list-style: none;
        float: left;
        margin-right: 15px;
    }
    .pager li:last-child {
        margin-right: 0;
    }
        .pager li a {
            display: block;
            width: auto;
            height: 26px;
            min-width: 26px;
            text-align: center;
            background: #395985;
            font-size: 14px;
            line-height: 26px;
            color: #fff;
            text-decoration: none;
        }
        .pager li a.next-page {
             background: #395985 url(../img/next-page.png) center center no-repeat;
        }
        .pager li a.prev-page {
            background: #395985 url(../img/prev-page.png) center center no-repeat;
        }
        .pager li a.first-page {
            background: #395985 url(../img/first-page.png) center center no-repeat;
        }
        .pager li a.last-page {
            background: #395985 url(../img/last-page.png) center center no-repeat;
        }
        .pager li span {
            display: block;
            width: auto;
            height: 26px;
            min-width: 26px;
            text-align: center;
            background: #e9751f;
            font-size: 14px;
            line-height: 26px;
            color: #fff;
        }

.clearfix {
    display: table;
    content: " ";
    clear: both;
}

.selected {
    color: #ff6d00 !important;
}

/* универсальная таблица */
.data-table {
    border-collapse: collapse;
    width: 100%;
}
    .data-table td, .data-table th {
        padding: 5px;
        vertical-align:top;
        border: 1px solid #d1d1d1;
        color: #323232;
    }
    .data-table th {
        background-color: #f0f0f0;
        font-weight: normal;
        text-align: left;
    }

/* выйти из админки */
#logout {
    display: block;
    float: right;
    padding: 5px 10px;
    margin: 10px;
    background: #fff;
    border-radius: 8px;
}
