/* сводная страница */
#index-filter {

}
    #index-filter ul {
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

/* список всех функциональных групп */
#all-groups {
    overflow: hidden;
}
    #all-groups > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
        #all-groups > ul > li {
            overflow: hidden;
            padding: 4px;
            background: #f5f5f5;
            border-bottom: 1px solid #fff;
        }
            #all-groups > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #all-groups > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }

/* список всех параметров подбора */
#all-params {
    overflow: hidden;
}
    #all-params > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
        #all-params > ul > li {
            overflow: hidden;
            padding: 4px;
            background: #f5f5f5;
            border-bottom: 1px solid #fff;
        }
            #all-params > ul > li > div:first-child {
                float: left;
                width: 75%;
            }
            #all-params > ul > li > div:last-child {
                float: right;
                width: 25%;
                text-align: right;
            }

/* список всех значений параметров подбора */
#all-values {
    overflow: hidden;
}
    #all-values > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
        #all-values > ul > li {
            overflow: hidden;
            padding: 4px;
            background: #f5f5f5;
            border-bottom: 1px solid #fff;
        }
            #all-values > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #all-values > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }

/* форма для добавления/редактирования функциональной группы */
#add-edit-group {
    overflow: hidden;
}
    #add-edit-group > div {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fafafa;
        padding: 5px;
    }
        #add-edit-group > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-group > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-group > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
            #add-edit-group > div > div:last-child > p {
                margin: 10px 0 3px 0;
            }
            #add-edit-group > div > div:last-child > p:first-of-type {
                margin-top: 0;
            }
            #add-edit-group > div > div:last-child > input[disabled="disabled"] {
                background: #969696;
                border: 1px solid #969696;
            }

/* форма для добавления/редактирования параметра подбора */
#add-edit-param {
    overflow: hidden;
}
    #add-edit-param > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-param > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-param > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-param > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }

/* форма для добавления/редактирования значения параметра подбора */
#add-edit-value {
    overflow: hidden;
}
    #add-edit-value > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-value > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-value > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-value > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }