/* вкладки */
ul#filter {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0;
}
    ul#filter li {
        float: left;
    }
        ul#filter li a {
            display: block;
            /* width: 200px; */
            border: 1px solid #000;
            border-bottom: none;
            margin-left: 10px;
            padding: 5px 10px;
            text-align: center;
            background-color: #eee;
            text-decoration: none;
            color: #333;
            border-radius: 5px 5px 0 0;
        }
        ul#filter li a:hover {
            text-decoration: underline;
        }
        ul#filter li a.active {
            background-color: #fff;
            border-bottom: 1px solid #fff;
        }
    ul#filter:after {
        content: '.';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }

/* форма для добавления/редактирования функциональной группы */
#add-edit-group {
    overflow: hidden;
}
    #add-edit-group > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-group > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-group > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-group > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
            #add-edit-group > div > div:last-child > ul {
                margin: 0;
                padding: 0;
                list-style: none;
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }

/* форма для добавления/редактирования параметра подбора */
#add-edit-param {
    overflow: hidden;
}
    #add-edit-param > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-param > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-param > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-param > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }

/* форма для добавления/редактирования значения параметра подбора */
#add-edit-value {
    overflow: hidden;
}
    #add-edit-value > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-value > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-value > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-value > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }