/* форма для добавления/редактирования страницы */
#add-edit-page {
    overflow: hidden;
}
    #add-edit-page > div {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fafafa;                 
        padding: 5px;
    }
        #add-edit-page > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-page > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-page > div > div:last-child > input[type="text"],
            #add-edit-page > div > div:last-child > textarea,
            #add-edit-page > div > div:last-child > select {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
            #add-edit-page > div > div:last-child > textarea {
                height: 300px;
            }
        #add-edit-page > #new-files > div,
        #add-edit-page > #old-files > div {
            float: none;
            width: 100%;
        }
        #add-edit-page > #new-files > div:first-child,
        #add-edit-page > #old-files > div:first-child {
            margin-bottom: 5px;
        }
        #add-edit-page > #old-files > div:last-child {
            max-height: 200px;
            overflow-y: scroll;
        }
            #add-edit-page > #new-files > div:last-child > div,
            #add-edit-page > #old-files > div:last-child > div {
                overflow: hidden;
                margin-bottom: 5px;
            }
                #add-edit-page > #new-files > div:last-child > div > span,
                #add-edit-page > #old-files > div:last-child > div > span {
                    text-decoration: underline;
                    cursor: pointer;
                }
                #add-edit-page > #new-files > div:last-child > div > *,
                #add-edit-page > #old-files > div:last-child > div > *{
                    display: block;
                    float: left;
                    margin: 0 10px;
                }
                #add-edit-page > #new-files > div:last-child > div > input,
                #add-edit-page > #old-files > div:last-child > div > a {
                    width: 50%;
                }
                #add-edit-page > #old-files > div:last-child > div > input {
                    margin-top: 2px;
                }

/* список всех страниц */
#all-pages {
    overflow: hidden;
}
    #all-pages ul, #all-pages li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #all-pages > ul > li > div {
            padding-left: 0;
        }
            #all-pages > ul > li > ul > li > div {
                padding-left: 25px;
            }
                #all-pages > ul > li > ul > li > ul > li > div {
                    padding-left: 50px;
                }
        #all-pages li > div {
            overflow: hidden;
            padding-top: 2px;
            padding-bottom: 2px;
            border-bottom: 1px solid #eee;
        }
            #all-pages li > div > div:first-child {
                float: left;
                width: 70%;
            }
            #all-pages li > div > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #all-pages li > div > div:last-child > a {
                    margin-left: 10px;
                }