/* форма для добавления/редактирования товара */
#add-edit-product {
    overflow: hidden;
}
    #add-edit-product > div {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fafafa;
        padding: 5px;
    }
        #add-edit-product > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-product > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-product > div > div:last-child > input[type="text"],
            #add-edit-product > div > div:last-child > textarea,
            #add-edit-product > div > div:last-child > select {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
            #add-edit-product > div > div:last-child > textarea {
                height: 200px;
            }
            #add-edit-product > div:nth-child(3) > div:last-child > input[type="text"],
            #add-edit-product > div:nth-child(3) > div:last-child > select {
                width: 25%;
                float: left;
                margin-right: 10px;
            }
            #add-edit-product > div:nth-child(3) > div:last-child > input[name="count"] {
                width: 10%;
                float: right;
                margin-right: 0;
            }
            #add-edit-product > div:first-child > div:last-child > input:first-child {
                float: left;
                width: 70%;
            }
            #add-edit-product > div:first-child > div:last-child > input:last-child {
                float: right;
                width: 25%;
            }

/* форма для добавления/редактирования категории */
#add-edit-category {
    overflow: hidden;
}
    #add-edit-category > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #add-edit-category > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-category > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-category > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }

/* ссылки для добавления катагории и товара */
#add-ctg-prd {
    overflow: hidden;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
    #add-ctg-prd li {
        float: left;
        width: 50%;
    }
    #add-ctg-prd li:last-child {
        text-align: right;
    }