/* форма для редактирования витрины (главной страницы) */
#edit-start-page {
    overflow: hidden;
}
    #edit-start-page > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
        #edit-start-page > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #edit-start-page > div > div:last-child {
            float: left;
            width: 70%;
        }
            #edit-start-page > div > div:last-child > input[type="text"],
            #edit-start-page > div > div:last-child > textarea {
                width: 100%;
                box-sizing: border-box;
                padding: 3px;
            }
            #edit-start-page > div > div:last-child > textarea {
                height: 300px;
            }

/* список всех баннеров на витрине */
#all-banners {
    overflow: hidden;
}
    #all-banners > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #all-banners > ul > li {
            overflow: hidden;
            padding: 4px 0;
            border-bottom: 1px solid #eee;
        }
            #all-banners > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
                #all-banners > ul > li > div:first-child > span {
                    color: #969696;
                    font-size: 14px;
                }
            #all-banners > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #all-banners > ul > li > div:last-child > a {
                    margin-left: 10px;
                }

/* форма для добавления/редактирования баннера */
#add-edit-banner {
    overflow: hidden;
}
    #add-edit-banner > div {
        overflow: hidden;
        margin-bottom: 10px;
    }
    #add-edit-banner > div > div:first-child {
        float: left;
        width: 30%;
        margin-top: 5px;
    }
    #add-edit-banner > div > div:last-child {
        float: left;
        width: 70%;
    }
        #add-edit-banner > div > div:last-child > input[type="text"] {
            width: 100%;
            box-sizing: border-box;
            padding: 3px;
        }
            #add-edit-banner > div > div:last-child > input[name="date"],
            #add-edit-banner > div > div:last-child > input[name="time"] {
                width: 80px;
            }
