/* список всех пользователей */
#all-users {
    overflow: hidden;
}
    #all-users > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #all-users > ul > li {
            overflow: hidden;
            padding: 4px 0;
            border-bottom: 1px solid #eee;
        }
            #all-users > ul > li > div:first-child {
                float: left;
                width: 70%;
            }
            #all-users > ul > li > div:last-child {
                float: right;
                width: 30%;
                text-align: right;
            }
                #all-users > ul > li > div:last-child > a {
                    margin-left: 10px;
                }

/* форма для редактирования личных данных пользователя */
#add-edit-user {
    overflow: hidden;
}
    #add-edit-user > div {
        overflow: hidden;
        margin-bottom: 10px;
        min-height: 22px;
    }
        #add-edit-user > div > div:first-child {
            float: left;
            width: 30%;
            margin-top: 5px;
        }
        #add-edit-user > div > div:last-child {
            float: left;
            width: 70%;
        }
            #add-edit-user > div > div:last-child > input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                padding: 5px;
                border: 1px solid #d1d1d1;
                font-size: 14px;
            }

            #add-edit-user > div > div:last-child > input[name="name"],
            #add-edit-user > div > div:last-child > input[name="patronymic"],
            #add-edit-user > div > div:last-child > input[name="password"],
            #add-edit-user > div > div:last-child > input[name="confirm"] {
                float: left;
                width: 50%;
            }
            #add-edit-user > div > div:last-child > input[name="patronymic"],
            #add-edit-user > div > div:last-child > input[name="confirm"] {
                border-left: none;
            }
            #add-edit-user > div > div:last-child > select {
                width: 50%;
                box-sizing: border-box;
                padding: 4px;
                border: 1px solid #d1d1d1;
                font-size: 14px;
            }
                #add-edit-user > div > div:last-child > label > input[type="checkbox"] {
                    position: relative;
                    top: 4px;
                }
                #add-edit-user > div > div:last-child > label > span {
                    cursor: pointer;
                    border-bottom: 1px dashed #323232;
                }

/* список заказов пользователя */
#user-orders-list {

}
    #user-orders-list > div {
        margin-bottom: 20px;
    }
        #user-orders-list > div > p:first-child {
            margin-bottom: 5px;
        }
        #user-orders-list > div > p:last-child {
            margin-top: 5px;
        }
    #user-orders-list > div > table tr > th:nth-child(1),
    #user-orders-list > div > table tr > th:nth-child(4),
    #user-orders-list > div > table tr > th:nth-child(5),
    #user-orders-list > div > table tr > th:nth-child(6) {
       width: 5%;
    }
    #user-orders-list > div > table tr > th:nth-child(2) {
       width: 30%;
    }