/* форма для оформления заказа */
#checkout-order {

}
    #checkout-order .company-checkbox-help,
    #checkout-order .make_profile_help,
    #checkout-order .customer-checkbox-help {
        background: #395985;
        color: #fff;
        border-radius: 8px;
        font-weight: bold;
        padding: 0 4px;
        cursor: pointer;
        font-size: 14px;
        line-height: 14px;
    }
    #checkout-order > div {
        margin: 20px 0;
    }
    #checkout-order input[type="checkbox"] {
        border: 1px solid #d1d1d1;
        position: relative;
        top: 4px;
        width: 15px;
        height: 15px;
    }
    #checkout-order select[name="office"] {
        font-size: 14px;
        box-sizing: border-box;
        padding: 4px;
        border: 1px solid #d1d1d1;
        margin-left: 28px;
        min-width: 205px;
    }
    #checkout-order label {
        white-space: nowrap;
    }
        #checkout-order label span {
            display: inline-block;
            cursor: pointer;
            border-bottom: 1px dashed #323232;
            margin: 0 7px 0 5px;
        }
    /* рамка для блоков Получатель и Плательщик */
    #checkout-order > #payer-order, #checkout-order > #buyer-order {
        position: relative;
        background: #fafafa;
        border: 1px solid #d1d1d1;
        padding: 15px;
        margin-top: 45px;
    }
        /* заголовки для блоков Получатель и Плательщик */
        #checkout-order > #payer-order > h2, #checkout-order > #buyer-order > h2 {
            position: absolute;
            margin: 0;
            left: 20px;
            top: -27px;
            color: #333;
            background: #fafafa;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            padding: 5px 20px;
            border: 1px solid #d1d1d1;
            border-bottom: 1px solid #fafafa;
            color: #395985;
        }
        /* выбор профиля для Получателя и Плательщика */
        #checkout-order > #payer-order > #payer-profile, #checkout-order > #buyer-order > #buyer-profile {
            margin-bottom: 15px;
            padding: 8px;
            background: #f0f0f0;
        }
        #checkout-order .make-profile { /* создать профиль */
            margin-top: 15px;
            padding-top: 10px;
            border-top: 1px solid #d1d1d1;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        #checkout-order > #payer-order > fieldset#payer-company,
        #checkout-order > #buyer-order > fieldset#buyer-company,
        #checkout-order > #payer-order > fieldset#payer-physical-person,
        #checkout-order > #buyer-order > fieldset#buyer-physical-person,
        #checkout-order > #buyer-order > fieldset#buyer-shipping-details { /* рамка для блоков юридические лицо и контактное лицо */
            background: #fff;
            border: 1px solid #d1d1d1;
            padding: 5px 10px 10px 10px;
            margin-top: 15px;
        }
        #checkout-order > #buyer-order > #buyer-shipping {
            margin-top: 14px;
            min-height: 30px;
            line-height: 30px;
        }
            #checkout-order > #buyer-order > #buyer-shipping > label {
                vertical-align: top;
                height: 25px;
            }
            #checkout-order > #buyer-order > #buyer-shipping > label > span {
                line-height: normal;
            }
            /* заголовок для блоков юридические лицо и контактное лицо */
            #checkout-order > #payer-order > fieldset#payer-company > legend,
            #checkout-order > #buyer-order > fieldset#buyer-company > legend,
            #checkout-order > #payer-order > fieldset#payer-physical-person > legend,
            #checkout-order > #buyer-order > fieldset#buyer-physical-person > legend,
            #checkout-order > #buyer-order > fieldset#buyer-shipping-details > legend {
                font-style: italic;
                padding: 0 7px;
            }
                #checkout-order > div > fieldset > div,
                #checkout-order > div > div > div {

                }
                #checkout-order > div > fieldset > div:after,
                #checkout-order > div > div > div:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                    #checkout-order > div > fieldset > div > div:first-child,
                    #checkout-order > div > div > div > div:first-child {
                        float: left;
                        width: 25%;
                        height: 32px;
                        line-height: 32px;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    #checkout-order > div > fieldset > div > div:last-child,
                    #checkout-order > div > div > div > div:last-child {
                        float: left;
                        width: 75%;
                        margin: 2px 0;
                    }
                        /* когда в одной строке не одно поле <input/>, а два: ИНН и КПП */
                        #checkout-order > div > fieldset > div > div:last-child > input[type="text"] {
                            width: 50%;
                            float: left;
                            font-size: 14px;
                            box-sizing: border-box;
                            padding: 5px;
                            border: 1px solid #d1d1d1;
                        }
                        #checkout-order > div > fieldset > div > div:last-child > input:last-of-type[type="text"] {
                            border-left: none;
                        }
                        /* когда в одной строке не два поля <input/>, а только одно */
                        #checkout-order > div > fieldset > div > div:last-child > input:only-of-type[type="text"] {
                            width: 100%;
                            float: none;
                            border-left: 1px solid #d1d1d1;
                        }
                        /* выбор профиля Получателя и Плательщика */
                        #checkout-order > div > div > div > div:last-child > select {
                            width: 100%;
                            box-sizing: border-box;
                            font-size: 14px;
                            padding: 4px;
                            border: 1px solid #d1d1d1;
                        }
                        #checkout-order textarea { /* комментарий */
                            box-sizing: border-box;
                            height: 100px;
                            width: 100%;
                            border: 1px solid #d1d1d1;
                            padding: 5px;
                            margin-top: 2px;
                        }
    /* кнопка отправки формы */
    #checkout-order > div:last-child {
        text-align: center;
    }
        #checkout-order > div:last-child > input[type="submit"] {
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid #e9751f;
            width: 30%;
            background: #e9751f;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
        }

@media screen and (max-width: 700px) {
    #checkout-order > div > fieldset > div > div:last-child,
    #checkout-order > div > fieldset > div > div:first-child,
    #checkout-order > div > div > div > div:last-child,
    #checkout-order > div > div > div > div:first-child {
        float: none;
        width: 100%;
    }
    #checkout-order > div > fieldset > div > div:first-child,
    #checkout-order > div > div > div > div:first-child {
        height: auto;
        line-height: normal;
        margin-top: 5px;
    }
    #checkout-order > div:last-child > input[type="submit"] {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    #checkout-order select[name="office"] {
        display: block;
        margin-top: 12px;
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 423px) {
    #checkout-order > div:last-child > input[type="submit"] {
        width: 100%;
    }
}