/* бренды */
#brands {
    position: relative;
}
    #brands > div {
        padding: 10px 0 5px 0;
        margin-bottom: 25px;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }
    #brands > section {
        padding-right: 30px;
    }
        #brands > div > div:first-child {
            margin-bottom: 15px;
        }
            #brands > div > div > a, #brands > div > div > span {
                display: inline-block;
                width: 30px;
                height: 30px;
                color: #fff;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                border-radius: 15px;
                margin-bottom: 5px;
            }
            #brands > div > div > a {
                background: #395985;
            }
            #brands > div > div > a:hover {
                text-decoration: none;
            }
            #brands > div > div > span {
                background: #969696;
            }
        #brands > section > div {
            position: relative;
        }
        #brands > section > div {
            padding-bottom: 15px;
            margin-bottom: 20px;
            margin-right: -30px;
            border-bottom: 1px dashed #5390cc;
        }
        #brands > section:last-of-type > div:last-child {
            border-bottom: none;
        }
            #brands > section > div > span { /* буква */
                float: left;
                width: 30px;
                height: 30px;
                background: #395985;
                color: #fff;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                border-radius: 15px;
                margin-bottom: 10px;
            }
            #brands > section > div > ul {
                list-style: none;
                overflow: hidden;
                margin-left: 45px;
            }
                #brands > section > div > ul > li { /* отдельный бренд */
                    float: left;
                }
                #brands > section > div > ul > li > a {
                    display: block;
                    width: 120px;
                    height: 90px;
                    overflow: hidden;
                    margin: 0 14px 14px 0;
                    padding: 10px;
                    text-align: center;
                    border: 1px solid #d1d1d1;
                }
                    #brands > section > div > ul > li > a > span {
                        width: 120px;
                        height: 30px;
                        line-height: 15px;
                        display: table-cell;
                        vertical-align: middle;
                    }
            #brands > section > div > a { /* стрелка вверх */
                display: block;
                position: absolute;
                right: 0;
                top: 0px;
                font-size: 30px;
                color: #d1d1d1;
            }
                #brands > section > div > a > i {
                    vertical-align: top;
                }
            #brands > section > div > a:hover {
                text-decoration: none;
            }

a#scroll {
    position: fixed;
    z-index: 100;
    bottom: 10px;
    font-size: 35px;
    color: #395985;
}
