#header #top-menu {
    display: block;
}
#header #top-phone {
    top: 10px;
}
#top-search {
    top: 36px;
}
#header #top-logo > div {
    padding-top: 10px;
}
#left, #right {
    display: none;
}
#content {
    margin: 0;
    padding: 20px 0;
}
.products-list-line {
    word-spacing: -4px;
}
.products-list-line > div {
    word-spacing: normal;
    width: 49.4%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background: #fafafa;
    margin-bottom: 15px;
}
.products-list-line > div:last-child {
    border: 1px solid #d1d1d1;
}
.products-list-line > div:nth-child(odd) {
    margin-right: 0.6%;
}
.products-list-line > div:nth-child(even) {
    margin-left: 0.6%;
}
.products-list-line > div > .product-line-heading h2 {
    height: 26px;
    overflow: hidden;
}
.products-list-line > div > .product-line-heading h3 {
    height: 16px;
    overflow: hidden;
}
.products-list-line > div > .product-line-techdata {
    clear: left;
    padding-top: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 940px) {
    .products-list-line > div > .product-line-basket {
        clear: left;
        margin-left: 0;
        padding-top: 12px;
    }
}

@media screen and (max-width: 700px) {
    .products-list-line {
        word-spacing: normal;
    }
    .products-list-line > div {
        width: 100%;
        display: block;
    }
    .products-list-line > div:nth-child(odd) {
        margin-right: 0;
    }
    .products-list-line > div:nth-child(even) {
        margin-left: 0;
    }
}