#left, #right {
    display: none;
}
#content {
    margin: 0;
    padding: 20px 0;
}
#header #top-phone { /*  телефоны в шапке */
    position: absolute;
    width: 160px;
    height: 53px;
    right: 5px;
    top: 29px;
    background: transparent;
    background-size: 40px;
}
    #header #top-phone > div:first-child {
        display: none;
    }
        #header #top-phone > div > span {
            font-size: 20px;
        }
#header #top-menu {
    display: block;
}
#top-search {
    top: 36px;
    right: 206px;
}

#compare-products > div:first-child {
    margin-bottom: 20px;
    overflow: hidden;
}
    #compare-products > div:first-child > h1 {
        margin-bottom: 0;
        font-size: 22px;
    }
    #compare-products > div:first-child > h2 {
        margin-top: 0;
        color: #395985;
        font-size: 18px;
        font-weight: normal;
    }

    #compare-products > div:first-child > a {
        display: block;
        float: right;
        color: #395985;
        text-decoration: none;
        margin-top: 5px;
    }
    #compare-products > div:first-child > a:hover {
        text-decoration: none;
    }
        #compare-products > div:first-child > a > i {
            font-size: 16px;
            line-height: 21px;
        }
        #compare-products > div:first-child > a > span {
            border-bottom: 1px dashed #395985;
            vertical-align: top;
        }

.products-list-line {
    word-spacing: -4px;
    margin-top: 0;
}
.products-list-line > p {
    word-spacing: normal;
}
.products-list-line > div {
    word-spacing: normal;
    width: 49.4%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background: #fafafa;
    margin-bottom: 15px;
}
.products-list-line > div:last-child {
    border: 1px solid #d1d1d1;
}
.products-list-line > div:nth-child(odd) {
    margin-right: 0.6%;
}
.products-list-line > div:nth-child(even) {
    margin-left: 0.6%;
}
.products-list-line > div > .product-line-heading h2 {
    height: 18px;
    overflow: hidden;
}
.products-list-line > div > .product-line-heading h3 {
    height: 16px;
    overflow: hidden;
}
.products-list-line > div > .product-line-techdata {
    clear: left;
    padding-top: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 1285px) {
    #top-search {
        right: 5px;
        top: 36px;
    }
}

@media screen and (max-width: 1200px) {
    /* список товаров категории, скрываем мелкооптовую цену */
    .products-list-line > div > .product-line-info > div:first-child > span:last-child > span:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    /* список товаров категории */
    .products-list-line > div > .product-line-basket {
        clear: left;
        margin-left: 0;
        padding-top: 0;
    }
    .products-list-line > div > .product-line-info {
        clear: left;
        margin-left: 0;
        padding-top: 12px;
    }
}

@media screen and (max-width: 800px) {
    .products-list-line {
        word-spacing: normal;
    }
    .products-list-line > div {
        width: 100%;
        display: block;
    }
    .products-list-line > div:nth-child(odd) {
        margin-right: 0;
    }
    .products-list-line > div:nth-child(even) {
        margin-left: 0;
    }
}