#left, #right {
    display: none;
}
#content {
    margin: 0;
    padding: 20px 0;
}
#header #top-phone { /*  телефоны в шапке */
    position: absolute;
    width: 160px;
    height: 53px;
    right: 5px;
    top: 29px;
    background: transparent;
    background-size: 40px;
}
    #header #top-phone > div:first-child {
        display: none;
    }
        #header #top-phone > div > span {
            font-size: 20px;
        }
#header #top-menu {
    display: block;
}
#top-search {
    top: 36px;
    right: 206px;
}

#compare-products > div:first-child {
    margin-bottom: 20px;
    overflow: hidden;
}
    #compare-products > div:first-child > h1 {
        margin-bottom: 0;
        font-size: 22px;
    }
    #compare-products > div:first-child > h2 {
        margin-top: 0;
        color: #395985;
        font-size: 18px;
        font-weight: normal;
    }

    #compare-products > div:first-child > a {
        display: block;
        float: right;
        color: #395985;
        text-decoration: none;
        margin-top: 5px;
    }
    #compare-products > div:first-child > a:hover {
        text-decoration: none;
    }
        #compare-products > div:first-child > a > i {
            font-size: 16px;
            line-height: 21px;
        }
        #compare-products > div:first-child > a > span {
            border-bottom: 1px dashed #395985;
            vertical-align: top;
        }

#compare-products table {
    border-collapse: collapse;
    table-layout: fixed;
}
    #compare-products table tr:first-child {
        background: #fafafa;
    }
    #compare-products table tr td {
        border: 1px solid #d1d1d1;
        padding: 5px;
        width: 185px;
        vertical-align: top;
    }
        #compare-products table tr:first-child td:nth-child(1) {
            width: 250px;
            background: url(../img/compare-table-bg.png) center center no-repeat;
        }
        #compare-products table tr:last-child td:not(:first-child) {
            font-size: 12px;
        }
        
    #compare-products .product-table-item { /* отдельный товар */
        text-align: center;
    }
        
        #compare-products .product-table-item .product-table-added { /* дата добавления */
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 5px;
            color: #969696;
            height: 10px;
            overflow: hidden;
        }
            #compare-products .product-table-item .product-table-heading { /* заголовок */
                margin-bottom: 5px;
                height: 32px;
                overflow: hidden;
            }
                #compare-products .product-table-item .product-table-heading h3 {
                    margin: 0;
                    font-size: 15px;
                    line-height: 16px;
                }
                    #compare-products .product-table-item .product-table-heading h3 a {
                        font-size: 15px;
                        line-height: 16px;
                    }
            #compare-products .product-table-item .product-table-image { /* изображение */
                display: inline-block;
                width: 100px;
                height: 100px;
                padding: 9px;
                border: 1px solid #d1d1d1;
                background: #fff;
                margin-bottom: 7px;
            }
                #compare-products .product-table-item .product-table-image > a { /* изображение */
                    display: block;
                    position: relative;
                    width: 100px;
                    height: 100px;
                }
                    #compare-products .product-table-item .product-table-image > a > img { /* изображение */
                        display: block;
                        width: 100px;
                        height: 100px;
                    }
                    /* лидер продаж, новинка */
                    #compare-products .product-table-item .product-table-image > a > span {
                        display: block;
                        position: absolute;
                        width: 58px;
                        height: 12px;
                        font-size: 10px;
                        line-height: 12px;
                        color: #fff;
                        padding-left: 1px;
                    }
                    #compare-products .product-table-item .product-table-image > a > span.hit-product {
                        background: #e9751f;
                        width: 72px;
                        left: -8px;
                        top: -8px;
                    }
                    #compare-products .product-table-item .product-table-image > a > span.new-product {
                        background: #395985;
                        width: 41px;
                        right: -8px;
                        top: -8px;
                    }
            #compare-products .product-table-item .product-table-price { /* цена */
                color: #969696;
                font-weight: normal;
                height: 16px;
                overflow: hidden;
                margin-bottom: 7px;
                white-space: nowrap;
            }
                #compare-products .product-table-item .product-table-price span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    color: #395985;
                    word-spacing: -1px;
                    letter-spacing: -1px;
                }
            #compare-products .product-table-item .product-table-basket { /* добавить в корзину */
                height: 26px;
                overflow: hidden;
            }
                #compare-products .product-table-item .product-table-basket input[type="submit"] {
                    box-sizing: border-box;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 5px;
                    background: #395985;
                    border: 1px solid #395985;
                    color: #fff;
                    width: 150px;
                    cursor: pointer;
                    outline: none;
                }

        #compare-products .product-table-descr { /* краткое описание */
            font-size: 14px;
            color: #969696;
        }