/* список новостей (всех новостей или выбранной категории) */
#news-list {

}
    #news-list > div {
        overflow: hidden;
        margin-bottom: 20px;
    }
    #news-list > div:last-child {
        margin-bottom: 0;
    }
        #news-list > div > div:first-child {
            float: left
        }
        #news-list > div > div:first-child a {
            display: block;
            width: 100px;
            height: 100px;
            padding: 5px;
            border: 1px solid #d1d1d1;
        }
        #news-list > div > div:first-child img {
            width: 100px;
            height: 100px;
        }
        #news-list > div > div:last-child {
            margin-left: 130px;
        }
            #news-list > div > div:last-child .news-date {
                margin-bottom: 2px;
                font-size: 12px;
                color: #969696;
            }
            #news-list > div > div:last-child .news-heading {

            }
                #news-list > div > div:last-child .news-heading h2,
                #news-list > div > div:last-child .news-heading h3 {
                    margin: 0 0 5px 0;
                    font-size: 16px;
                    line-height: 19px;
                }
                    #news-list > div > div:last-child .news-heading h2 a,
                    #news-list > div > div:last-child .news-heading h3 a {
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: bold;
                        color: #395985;
                    }
            #news-list > div > div:last-child .news-excerpt {
                margin-bottom: 5px;
            }
                #news-list > div > div:last-child .news-category a {
                    font-size: 12px;
                }

/* отдельная новость */
#news-item {

}
    #news-item > div:first-child {
        overflow: hidden;
        margin: 15px 0;
    }
        #news-item > div:first-child > p {
            font-size: 12px;
            color: #969696;
            width: 50%;
        }
        #news-item > div:first-child > p:nth-child(1) {
            float: left;
        }
        #news-item > div:first-child > p:nth-child(2) {
            float: right;
            text-align: right;
        }
            #news-item > div:first-child > p:nth-child(2) > a {
                font-size: 12px;
            }
    #news-item > h2, #news-item > h3, #news-item > h4 {
        margin: 15px 0;
        color: #395985;
        font-weight: normal;
    }
    #news-item > h2 {
        font-size: 19px;
    }
    #news-item > h3 {
        font-size: 16px;
    }
    #news-item > h4 {
        font-size: 14px;
    }
    #news-item > p {
        margin: 15px 0;
    }
    #news-item > ul, #news-item > ol {
        margin: 15px 0 15px 30px;
    }
    #news-item img {
        max-width: 100%;
    }

@media screen and (max-width: 560px) {
    /* список новостей */
    #news-list > div > div:first-child {
        display: none;
    }
    #news-list > div > div:last-child {
        margin-left: 0;
    }
}