/* карта сайта */
#sitemap ul li {
    margin: 4px 0;
    color: #395985;
}
#sitemap > ul > li {
    list-style-type: none;
    margin: 15px 0;
}
    #sitemap > ul > li > a {
        color: #395985;
        font-size: 18px;
    }
#sitemap > ul > li > ul {
    margin-left: 30px;
    list-style-type: disc;
}
#sitemap > ul > li > ul > li > ul {
    margin-left: 25px;
    list-style-type: circle;
}


