/* список типовых решений */
#list-solutions {

}
    #list-solutions > div { /* отдельное типовое решение */
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #5390cc;
    }
    #list-solutions > div:last-child {
        border-bottom: none;
    }
    #list-solutions > div > h2 {
            margin: 0 0 5px 0;
            font-size: 16px;
            line-height: 19px;
        }
        #list-solutions > div > h2 > a {
            font-size: 16px;
            line-height: 19px;
            font-weight: bold;
            color: #395985;
        }
        #list-solutions > div > div { /* краткое описание типового решения */
            margin-bottom: 4px;
        }
        #list-solutions > div > a { /* ссылка на категорию типового решения */
            font-size: 12px;
        }

/* типовые решения, список категорий */
#categories-solutions {
    margin-bottom: 25px;
}
    #categories-solutions > div:first-child {
        background-color: #323232;
        border: 1px solid #323232;
        color: #fff;
        padding: 10px 5px;
    }
    #categories-solutions > div:last-child {
        border: 1px solid #d1d1d1;
        border-top: none;
        overflow: hidden;
        position: relative;
    }
        #categories-solutions > div:last-child > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
            width: 50%;
            box-sizing: border-box;
        }
        #categories-solutions > div:last-child > ul:first-child {
            border-right: 1px dashed #d1d1d1;
        }
        #categories-solutions > div:last-child > ul:only-of-type {
            border-right: none;
            width: 100%;
            float: none;
        }
            #categories-solutions > div:last-child > ul > li {
                padding: 0 30px 0 5px;
                border-bottom: 1px dashed #d1d1d1;
                height: 30px;
                overflow: hidden;
                position: relative;
            }
            #categories-solutions > div:last-child > ul > li:last-child {
                border-bottom: none;
            }
                #categories-solutions > div:last-child > ul > li > span {
                    display: table;
                    width: 100%;
                    box-sizing: border-box;
                }
                    #categories-solutions > div:last-child > ul > li > span > a,
                    #categories-solutions > div:last-child > ul > li > span > span:first-child {
                        display: table-cell;
                        height: 30px;
                        vertical-align: middle;
                        font-size: 14px;
                        line-height: 15px;
                    }
                    #categories-solutions > div:last-child > ul > li > span > span:last-child {
                        display: block;
                        position: absolute;
                        font-size: 13px;
                        line-height: 30px;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        background: #f0f0f0;
                        top: 0;
                        right: 0;
                    }
                    #categories-solutions > div:last-child > ul > li > span > a + span {
                        color: #5390cc;
                    }

/* отдельное типовое решение */
#item-solutions h2, #item-solutions h3 {
    margin: 15px 0;
    color: #395985;
    font-weight: normal;
}
    #item-solutions > a#download-solution {
        display: block;
        width: 43px;
        height: 50px;
        float: right;
        font-size: 50px;
        line-height: 50px;
        margin: 0 0 15px 10px;
        color: #5390cc;
    }
    #item-solutions > div#image-solution {
        margin-bottom: 15px;
    }
        #item-solutions > div#image-solution img {
            max-width: 100%;
        }
    #item-solutions h2 {
        font-size: 19px;
    }
    #item-solutions h3 {
        font-size: 16px;
    }
    #item-solutions > p {
        margin: 15px 0;
    }
    #item-solutions > ul, #item-solutions > ol {
        margin: 15px 0 15px 30px;
    }
        #item-solutions > ul ul, #item-solutions > ol ul, #item-solutions > ol ol, #item-solutions > ul ol {
            margin: 10px 0 10px 20px;
        }
    #item-solutions img {
        max-width: 100%;
    }
    #item-solutions form { /* добавить в корзину */
        overflow: hidden;
        margin-bottom: 15px;
    }
        #item-solutions form h2 {
            float: left;
            margin: 0;
        }
        #item-solutions form input[type="submit"] {
            float: right;
            background: #395985;
            border: 1px solid #395985;
            padding: 4px 15px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }

    #item-solutions table { /* таблица товаров */
        border-collapse: collapse;
        width: 100%;
    }
        #item-solutions table tr th, #item-solutions table tr td {
            border: 1px solid #d1d1d1;
            font-weight: normal;
            padding: 5px;
        }
        #item-solutions table tr td {
            vertical-align: top;
        }
        #item-solutions table tr td.total-cost {
            text-align: right !important;
            vertical-align: baseline !important;
        }
        #item-solutions table tr th {
            background: #f0f0f0;
        }
        #item-solutions table tr th:nth-child(3), #item-solutions table tr td:nth-child(3) {
            width: 50%;
        }
        #item-solutions table tr td:nth-child(3) > span {
            color: #395985;
            border-bottom: 1px dashed #395985;
            cursor: pointer;
        }
        #item-solutions table tr td:nth-child(3) > div > span {
            display: block;
        }
        #item-solutions table tr td:nth-child(3) > div > span:first-child {
            margin-top: 2px;
        }
        #item-solutions table tr td:nth-child(3) > div > span:last-child {
            font-size: 13px;
            margin-top: 4px;
            color: #969696;
        }
        #item-solutions table tr th.heading, #item-solutions table tr th:nth-child(3) {
            text-align: left;
        }
        #item-solutions table tr td:nth-child(5), #item-solutions table tr td:nth-child(6) {
            text-align: right;
        }
        #item-solutions table tr td:nth-child(1), #item-solutions table tr td:nth-child(2),
        #item-solutions table tr td:nth-child(4), #item-solutions table tr td:nth-child(7) {
            text-align: center;
        }

        #item-solutions table tr:last-child td:first-child {
            text-align: left;
        }
        #item-solutions table tr:last-child td:last-child {
            text-align: right;
        }
            #item-solutions table tr td strong {
                color: #395985;
                font-size: 18px;
                word-spacing: -1px;
                letter-spacing: -1px;
            }
            
@media screen and (max-width: 600px) {
    #item-solutions table tr th:nth-child(6), #item-solutions table tr td:nth-child(6) {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    #item-solutions table tr th:nth-child(7), #item-solutions table tr td:nth-child(7) {
        display: none;
    }
    #categories-solutions > div:last-child > ul {
        float: none;
        width: 100%;
    }
    #categories-solutions > div:last-child > ul:first-child {
        border-right: none;
    }
    #categories-solutions > div:last-child > ul:first-child > li:last-child {
        border-bottom: 1px dashed #d1d1d1;
    }
}
@media screen and (max-width: 410px) {
    #item-solutions table tr th:nth-child(5), #item-solutions table tr td:nth-child(5) {
        display: none;
    }
    #item-solutions table tr th:nth-child(3), #item-solutions table tr td:nth-child(3) {
        width: 60%;
    }
    #item-solutions form h2, #item-solutions form input[type="submit"] {
        float: none;
    }
    #item-solutions form h2 {
        margin-bottom: 10px;
    }
}