.tabs {

}
    .tabs > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #d1d1d1;
        width: 100%;
        margin-bottom: 20px;
    }
    .tabs > ul:after {
        content: ' ';
        display: table;
        clear: both;
    }
        .tabs > ul > li {
            float: left;
            position: relative;
            border: 1px solid #d1d1d1;
            border-bottom: none;
            margin-left: 10px;
            background: #f0f0f0;
        }
        .tabs > ul > li:first-child {
            margin-left: 20px;
        }
        .tabs > ul > li.current {
            background: #fff;
        }
        .tabs > ul > li.current:after {
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #fff;
            top: 32px;
            content: '';
        }
            .tabs > ul > li > a {
                display: block;
                padding: 0 15px;
                height: 32px;
                line-height: 32px;
                color: #395985;
                text-decoration: none;
                max-width: 120px;
                white-space: nowrap;
                overflow: hidden;
            }
                .tabs > ul > li > a > span {
                    border-bottom: 1px dashed #395985;
                }

@media screen and (max-width: 500px) {
    .tabs > ul > li {
        margin-left: 5px;
    }
    .tabs > ul > li:first-child {
        margin-left: 5px;
    }
        .tabs > ul > li > a {
            padding: 0 5px;
        }
}
@media screen and (max-width: 400px) {
    .tabs > ul > li > a {
        max-width: 99px;
    }
}

@media screen and (max-width: 320px) {
    .tabs > ul > li > a {
        max-width: 80px;
    }
}